*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.subtitle{
    font-size: 30px;
    
}
.about{
    text-align: center;
    padding: 80px 20px;
}
.title{
    display: inline-block;
    border: 5px solid black;
    padding: 10px 30px;
    margin-bottom: 35px;
    font-weight: bolder;
    letter-spacing: 8px;
}
.about-text{
    font-size: 18px;
    max-width: 700px;
    margin: auto;
    margin-top: 20px;
    line-height: 1.7;
    
}
.exp{
    text-align: center;
    margin-bottom: 60px;
}
.exp h3{
    letter-spacing: 6px;
    margin-bottom: 60px;
}

.cartao{
    width: 100%;
    height: auto;
}

.col1 {
    width: 100%;
    text-align: right;
}
.col2 {
    width: 700px;
    text-align: left;
}

.dvd{
    width: 1px;
    background: #ccc;
}
.col h4{
    margin-bottom: 5px;
}
col span{
    color: #666;
    font-size: 14px;
}
.icons {
    font-size: 30px;
    letter-spacing: 5px;
}

.icons{
    margin: 0 6px;
    cursor: pointer;
}
.post{        
    display: flex;
    gap: 10px;
    flex-direction: column;  
         
    max-width: 460px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgb(0, 0, 0, 0.1);
    text-align: left;
}

.post h5{
    font-size: 23px;
    margin-bottom: 8px;
}

.post small{
    color: #777;
    font-size: 18px;
}


.section-post{
    width: 100%;
    display: flex;
    gap: 80px;
    justify-content: center;
}
@media (max-width: 768px) {
    .about-text{
    font-size: 18px;
    max-width: 100%;
    margin: auto;
    margin-top: 20px;
    line-height: 1.7;
    
}

.section-post{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
}


}
