footer{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
padding: 56px 0;
    background-color: #D7D7D7;
}

footer p{
    font-size: 20px;
    font-weight: bold;
}

.btn-back{
    display: flex;
    flex-direction: column;
}