footer{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 56px 0;
    gap: 44px;
    background-color: #D7D7D7;
}

footer p{
    font-size: 20px;
    font-weight: bold;
}

.btn-back{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.social{
    display: flex;
    gap: 28px;
}
footer span{
    font-size: 20px;
    font-weight: bold;
     font-family: "Nunito", sans-serif;
}