.layout{
    padding: 55px 90px;
    position: relative;
}

.container{
    width: 100%;
    height: 100vh;
    background: url("../assets/bg-header.jpg") no-repeat  center ;
    background-size: cover;
}
nav ul {
    display: inline-flex;
    gap: 20px;
   
}
nav ul li a{
    color:#fff;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: 17px;
    font-weight: 900;
    align-items: center;
    gap: 40px;
}

button{
    width: 147px;
    height: 46px;
    background-color: #fff;
    border-radius:30px;
    border: none;
}

.wrapper{
    width: 100%;
    height: 100%;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

}

.left{
    margin-top: 5.5rem;
    display: flex;
    flex-direction: column;
    

}
.left span{
    margin-bottom: 30px;
}
.left h1{
    font-size: clamp(2.5rem, 1rem + 3vw, 5rem);
    
}

.persona{
    width: 57%;
    height: auto;
}