.layout{
    padding: 55px 90px;
}

.container{
    width: 100%;
    height: 100vh;
    background: url("../assets/bg-header.jpg") no-repeat  center ;
    background-size: cover;
}
nav ul {
    display: inline-flex;
    gap: 20px;
   
}
nav ul li a{
    color:#fff;
}
nav ul li a:hover{
    color:rgba(0, 183, 255, 0.753);
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: 17px;
    font-weight: 900;
    align-items: center;
    gap: 40px;
}

button{
    width: 147px;
    height: 46px;
    background-color: #fff;
    border-radius:30px;
    border: none;
}

.wrapper{
    width: 100%;
    height: 100%;
}
.content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;

}

.left{
    margin-top: 5.5rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    

}
.left span{
    margin-bottom: 30px;
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}
.left h1{
    font-size: clamp(2.5rem, 1rem + 3vw, 5rem);
    
}
.left p{
     font-family: "Raleway", sans-serif;
     color: #909090;
     font-weight: 500;
     font-size: 25px;
}

.persona{
    margin-top: 4px;
    max-width: 925px;
    height: auto;
}

.desc{
    width: 100%;
    height: 18.75rem;
    background: #1D1D1D;
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
}
