*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    font-family: sans-serif;
}

headar{
 width: 100vh;
    height: 100vh;
}
.container{
    width: 100%;
    height: 100vh;
    background: url("../assets/bg-code.avif") no-repeat  center ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
button{
    width: 147px;
    height: 46px;
    border-radius:30px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.btn a{
  color: #111;
   font-family: "Nunito", sans-serif;
}


.buttons{
  width: 500px;
  height: auto;
  display: flex;
    justify-content: space-between;
}
a{
    color: inherit;
    text-decoration: none;
}
.container h1{
    color: #D7D7D7;
    font-family: "Nunito", sans-serif;

}
.container p{
    color: #D7D7D7;
    font-family: "Nunito", sans-serif;
}
.texts{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
    overflow: hidden;
    width: 100%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
  }

  .buttons{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}
.container h1, p {
    text-align: center;
}
}