* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
} */

.title-skills{
    display: inline-block;
    border: 5px solid white;
    padding: 10px 30px;
    font-weight: 30px;
    margin-top: 50px;
    margin-bottom: 80px;
        text-align: center;
  
    
}
h1{
    letter-spacing: 8px;
    

}
.skills {
    max-width: 900px;
    margin: auto;
    padding: 80px 20px;
}
.skills-title {
    display: inline-block;
    border: 2px solid white;
    padding: 10px 40px;
    letter-spacing: 4px;
    margin-bottom: 50px;
}
.skills h3 {
    margin: 40px 0 20px;
    font-size: 25px;
    letter-spacing: 3px;
    color: white;
    text-align: left;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 40px;
}
.item {
    text-align: center;
    padding: 25px 10px;
    transition: 0.3s;
}
.item:hover {
    background: #1f1f1f;
    transform: translateY(-5px);
}

.item i {
    font-size: 70px;
    margin-bottom: 10px;
    display: block;
}

.wp{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .item i {
    font-size: 70px;
    width: 20px;
    height: 20px;
    display: block;
}
.item {
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
     flex-wrap: wrap;
    text-align: center;
    gap: 50px;
    transition: 0.3s;
}
 .grid {
        grid-template-columns: repeat(2, 1fr); /* Passa para 2 colunas */
        gap: 20px; /* Opcional: reduz o espaço no mobile */
    }
}