
@import "./about.css";
@import "./skills1.css";
@import "./header.css";
@import "./footer.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    font-family: sans-serif;
}

.body-main{
    font-family: 'Poppins', sans-serif;
    color: black;
    min-height: 100vh;
    background: radial-gradient(
        circle at 50% 85%,
        #f5f3f3a8 0%,
        #d8d6d6 40%,
        #e6e6e6 100%
    );
}

.container-skills{
    width: 100%;
    height: auto;
     font-family: Arial, sans-serif;
    background: #111;
    color: white;
}
